@model ADETQ2_Brand_X.Models.list

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>list</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.studentinfo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
